# Trabalho 2 da disciplina de APL
Integrantes do grupo:
* Daniel Brai Gonzales Marcos
* Giovanna Nascimento Antonieti
* Priscila Marques de Oliveira

In [1]:
import tensorflow as tf
from tensorflow.keras.utils import Sequence
import numpy as np
import matplotlib.pyplot as plt
import math
import cv2

Init Plugin
Init Graph Optimizer
Init Kernel

In [2]:
tf.__version__

'2.5.0'

In [3]:
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [4]:
#gpus = tf.config.list_physical_devices('GPU')

#if gpus:
 #   try:
        # Currently, memory growth needs to be the same across GPUs
  #      for gpu in gpus:
   #         tf.config.experimental.set_memory_growth(gpu, True)
    #    logical_gpus = tf.config.list_logical_devices('GPU')
     #   print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPUs")
   # except RuntimeError as e:
        # Memory growth must be set before GPUs have been initialized
    #    print(e)

1Metal device set to: Apple M1
 Physical GPUs, 1 Logical GPUs

2022-06-15 09:11:43.791148: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-06-15 09:11:43.791276: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [4]:
import pandas as pd
import numpy as np
import os

# 1. Dataset 
* Load
* Labels
* Pré-processamento

In [5]:
# train
dataset_df_train = pd.read_csv('./dataset/train.csv')

# test
dataset_df_test = pd.read_csv('./dataset/test.csv')
dataset_folder ='./dataset/imgs'
class_folders = sorted(os.listdir(dataset_folder))
n_samples=[]
print(class_folders)
print(f'Number of class: {len(class_folders)}')

for class_folder in class_folders:
    full_class_folder = os.path.join(dataset_folder, class_folder)
    
    class_img_filenames = os.listdir(full_class_folder)
    n_samples.append(len(class_img_filenames))
    print(f'Number of Images for Class "{class_folder}": {len(class_img_filenames)}')

['Adam Sandler', 'Alec Baldwin', 'Angelina Jolie', 'Anna Kournikova', 'Ashton Kutcher', 'Avril Lavigne', 'Barack Obama', 'Ben Affleck', 'Beyonce Knowles', 'Brad Pitt', 'Cameron Diaz', 'Cate Blanchett', 'Charlize Theron', 'Christina Ricci', 'Claudia Schiffer', 'Clive Owen', 'Colin Farrell', 'Colin Powell', 'Cristiano Ronaldo', 'Daniel Craig', 'Daniel Radcliffe', 'David Beckham', 'David Duchovny', 'Denise Richards', 'Drew Barrymore', 'Dustin Hoffman', 'Ehud Olmert', 'Eva Mendes', 'Faith Hill', 'George Clooney', 'Gordon Brown', 'Gwyneth Paltrow', 'Halle Berry', 'Harrison Ford', 'Hugh Jackman', 'Hugh Laurie', 'Jack Nicholson', 'Jennifer Aniston', 'Jennifer Lopez', 'Jennifer Love Hewitt', 'Jessica Alba', 'Jessica Simpson', 'Joaquin Phoenix', 'John Travolta', 'Julia Roberts', 'Julia Stiles', 'Kate Moss', 'Kate Winslet', 'Katherine Heigl', 'Keira Knightley', 'Kiefer Sutherland', 'Leonardo DiCaprio', 'Lindsay Lohan', 'Mariah Carey', 'Martha Stewart', 'Matt Damon', 'Meg Ryan', 'Meryl Streep', 'Michael Bloomberg', 'Mickey Rourke', 'Miley Cyrus', 'Morgan Freeman', 'Nicole Kidman', 'Nicole Richie', 'Orlando Bloom', 'Reese Witherspoon', 'Renee Zellweger', 'Ricky Martin', 'Robert Gates', 'Sania Mirza', 'Scarlett Johansson', 'Shahrukh Khan', 'Shakira', 'Sharon Stone', 'Silvio Berlusconi', 'Stephen Colbert', 'Steve Carell', 'Tom Cruise', 'Uma Thurman', 'Victoria Beckham', 'Viggo Mortensen', 'Will Smith', 'Zac Efron']
Number of class: 83
Number of Images for Class "Adam Sandler": 108
Number of Images for Class "Alec Baldwin": 103
Number of Images for Class "Angelina Jolie": 214
Number of Images for Class "Anna Kournikova": 171
Number of Images for Class "Ashton Kutcher": 101
Number of Images for Class "Avril Lavigne": 299
Number of Images for Class "Barack Obama": 268
Number of Images for Class "Ben Affleck": 117
Number of Images for Class "Beyonce Knowles": 126
Number of Images for Class "Brad Pitt": 300
Number of Images for Class "Cameron Diaz": 246
Number of Images for Class "Cate Blanchett": 160
Number of Images for Class "Charlize Theron": 195
Number of Images for Class "Christina Ricci": 143
Number of Images for Class "Claudia Schiffer": 122
Number of Images for Class "Clive Owen": 134
Number of Images for Class "Colin Farrell": 145
Number of Images for Class "Colin Powell": 112
Number of Images for Class "Cristiano Ronaldo": 168
Number of Images for Class "Daniel Craig": 168
Number of Images for Class "Daniel Radcliffe": 246
Number of Images for Class "David Beckham": 187
Number of Images for Class "David Duchovny": 149
Number of Images for Class "Denise Richards": 200
Number of Images for Class "Drew Barrymore": 152
Number of Images for Class "Dustin Hoffman": 100
Number of Images for Class "Ehud Olmert": 130
Number of Images for Class "Eva Mendes": 135
Number of Images for Class "Faith Hill": 115
Number of Images for Class "George Clooney": 227
Number of Images for Class "Gordon Brown": 102
Number of Images for Class "Gwyneth Paltrow": 253
Number of Images for Class "Halle Berry": 110
Number of Images for Class "Harrison Ford": 150
Number of Images for Class "Hugh Jackman": 157
Number of Images for Class "Hugh Laurie": 168
Number of Images for Class "Jack Nicholson": 101
Number of Images for Class "Jennifer Aniston": 230
Number of Images for Class "Jennifer Lopez": 129
Number of Images for Class "Jennifer Love Hewitt": 107
Number of Images for Class "Jessica Alba": 175
Number of Images for Class "Jessica Simpson": 300
Number of Images for Class "Joaquin Phoenix": 108
Number of Images for Class "John Travolta": 132
Number of Images for Class "Julia Roberts": 132
Number of Images for Class "Julia Stiles": 132
Number of Images for Class "Kate Moss": 153
Number of Images for Class "Kate Winslet": 134
Number of Images for Class "Katherine Heigl": 257
Number of Images for Class "Keira Knightley": 195
Number of Images for Class "Kiefer Sutherland": 135
Number of Images for Class "Leonardo DiCaprio": 199
Number of Images for Class "Lindsay Lohan": 354
Number of Images for Class "Mariah Carey": 102
Number of Images for Class "Martha Stewart": 108
Number of Images for Class "Matt Damon": 154
Number of Images for Class "Meg Ryan": 210
Number of Images for Class "Meryl Streep": 146
Number of Images for Class "Michael Bloomberg": 102
Number of Images for Class "Mickey Rourke": 119
Number of Images for Class "Miley Cyrus": 367
Number of Images for Class "Morgan Freeman": 108
Number of Images for Class "Nicole Kidman": 185
Number of Images for Class "Nicole Richie": 188
Number of Images for Class "Orlando Bloom": 260
Number of Images for Class "Reese Witherspoon": 157
Number of Images for Class "Renee Zellweger": 133
Number of Images for Class "Ricky Martin": 143
Number of Images for Class "Robert Gates": 100
Number of Images for Class "Sania Mirza": 128
Number of Images for Class "Scarlett Johansson": 273
Number of Images for Class "Shahrukh Khan": 152
Number of Images for Class "Shakira": 201
Number of Images for Class "Sharon Stone": 206
Number of Images for Class "Silvio Berlusconi": 121
Number of Images for Class "Stephen Colbert": 124
Number of Images for Class "Steve Carell": 166
Number of Images for Class "Tom Cruise": 197
Number of Images for Class "Uma Thurman": 167
Number of Images for Class "Victoria Beckham": 134
Number of Images for Class "Viggo Mortensen": 112
Number of Images for Class "Will Smith": 128
Number of Images for Class "Zac Efron": 193

In [32]:
print(f'Mínimo: {min(n_samples)}')
print(f'Máximo: {max(n_samples)}')
n_samples=max(n_samples)

Mínimo: 100
Máximo: 367

In [8]:
import random

img_full_paths = []
img_classes = []

# OPTIONAL: just to get the same selected images
random.seed(42)

for class_folder in sorted(os.listdir(dataset_folder)):
    print(f'Class: {class_folder}') 
    
    # translated class
    img_class = class_folder
    
    # get the full class folder pathname
    full_class_folder = os.path.join(dataset_folder, class_folder)
    
    # get all image filenames (without their parent dir) for the current class/animal
    class_img_filenames = sorted(os.listdir(full_class_folder))
    
    
    # undersampling from scratch
    random.shuffle(class_img_filenames)
    class_img_filenames = class_img_filenames[:]
    print(f'Number of images: {len(class_img_filenames)}')
    
    for img_filename in class_img_filenames:
        full_img_path = os.path.join(full_class_folder, img_filename)
        
        img_full_paths.append(full_img_path)
        img_classes.append(img_class)
    
    print()

Class: Adam Sandler
Number of images: 108

Class: Alec Baldwin
Number of images: 103

Class: Angelina Jolie
Number of images: 214

Class: Anna Kournikova
Number of images: 171

Class: Ashton Kutcher
Number of images: 101

Class: Avril Lavigne
Number of images: 299

Class: Barack Obama
Number of images: 268

Class: Ben Affleck
Number of images: 117

Class: Beyonce Knowles
Number of images: 126

Class: Brad Pitt
Number of images: 300

Class: Cameron Diaz
Number of images: 246

Class: Cate Blanchett
Number of images: 160

Class: Charlize Theron
Number of images: 195

Class: Christina Ricci
Number of images: 143

Class: Claudia Schiffer
Number of images: 122

Class: Clive Owen
Number of images: 134

Class: Colin Farrell
Number of images: 145

Class: Colin Powell
Number of images: 112

Class: Cristiano Ronaldo
Number of images: 168

Class: Daniel Craig
Number of images: 168

Class: Daniel Radcliffe
Number of images: 246

Class: David Beckham
Number of images: 187

Class: David Duchovny
Number of images: 149

Class: Denise Richards
Number of images: 200

Class: Drew Barrymore
Number of images: 152

Class: Dustin Hoffman
Number of images: 100

Class: Ehud Olmert
Number of images: 130

Class: Eva Mendes
Number of images: 135

Class: Faith Hill
Number of images: 115

Class: George Clooney
Number of images: 227

Class: Gordon Brown
Number of images: 102

Class: Gwyneth Paltrow
Number of images: 253

Class: Halle Berry
Number of images: 110

Class: Harrison Ford
Number of images: 150

Class: Hugh Jackman
Number of images: 157

Class: Hugh Laurie
Number of images: 168

Class: Jack Nicholson
Number of images: 101

Class: Jennifer Aniston
Number of images: 230

Class: Jennifer Lopez
Number of images: 129

Class: Jennifer Love Hewitt
Number of images: 107

Class: Jessica Alba
Number of images: 175

Class: Jessica Simpson
Number of images: 300

Class: Joaquin Phoenix
Number of images: 108

Class: John Travolta
Number of images: 132

Class: Julia Roberts
Number of images: 132

Class: Julia Stiles
Number of images: 132

Class: Kate Moss
Number of images: 153

Class: Kate Winslet
Number of images: 134

Class: Katherine Heigl
Number of images: 257

Class: Keira Knightley
Number of images: 195

Class: Kiefer Sutherland
Number of images: 135

Class: Leonardo DiCaprio
Number of images: 199

Class: Lindsay Lohan
Number of images: 354

Class: Mariah Carey
Number of images: 102

Class: Martha Stewart
Number of images: 108

Class: Matt Damon
Number of images: 154

Class: Meg Ryan
Number of images: 210

Class: Meryl Streep
Number of images: 146

Class: Michael Bloomberg
Number of images: 102

Class: Mickey Rourke
Number of images: 119

Class: Miley Cyrus
Number of images: 367

Class: Morgan Freeman
Number of images: 108

Class: Nicole Kidman
Number of images: 185

Class: Nicole Richie
Number of images: 188

Class: Orlando Bloom
Number of images: 260

Class: Reese Witherspoon
Number of images: 157

Class: Renee Zellweger
Number of images: 133

Class: Ricky Martin
Number of images: 143

Class: Robert Gates
Number of images: 100

Class: Sania Mirza
Number of images: 128

Class: Scarlett Johansson
Number of images: 273

Class: Shahrukh Khan
Number of images: 152

Class: Shakira
Number of images: 201

Class: Sharon Stone
Number of images: 206

Class: Silvio Berlusconi
Number of images: 121

Class: Stephen Colbert
Number of images: 124

Class: Steve Carell
Number of images: 166

Class: Tom Cruise
Number of images: 197

Class: Uma Thurman
Number of images: 167

Class: Victoria Beckham
Number of images: 134

Class: Viggo Mortensen
Number of images: 112

Class: Will Smith
Number of images: 128

Class: Zac Efron
Number of images: 193

In [9]:
import pandas as pd

dataset_df = pd.DataFrame({
    'image_pathname': img_full_paths,
    'class': img_classes
})

dataset_df

                            image_pathname         class
0      ./dataset/imgs/Adam Sandler/277.jpg  Adam Sandler
1      ./dataset/imgs/Adam Sandler/134.jpg  Adam Sandler
2      ./dataset/imgs/Adam Sandler/108.jpg  Adam Sandler
3        ./dataset/imgs/Adam Sandler/3.jpg  Adam Sandler
4       ./dataset/imgs/Adam Sandler/84.jpg  Adam Sandler
...                                    ...           ...
13833     ./dataset/imgs/Zac Efron/461.jpg     Zac Efron
13834     ./dataset/imgs/Zac Efron/326.jpg     Zac Efron
13835     ./dataset/imgs/Zac Efron/393.jpg     Zac Efron
13836     ./dataset/imgs/Zac Efron/138.jpg     Zac Efron
13837      ./dataset/imgs/Zac Efron/96.jpg     Zac Efron

[13838 rows x 2 columns]

In [10]:
imgs = []
classes = []
for i in dataset_df_train['image_pathname']:
    data = dataset_df.loc[dataset_df['image_pathname'] == './dataset/'+i]
    imgs.append(data.iat[0,0])
    classes.append(data.iat[0,1])
    
df_train = pd.DataFrame({
    'image_pathname': imgs,
    'class': classes
})

df_train

                            image_pathname         class
0      ./dataset/imgs/Adam Sandler/277.jpg  Adam Sandler
1      ./dataset/imgs/Adam Sandler/136.jpg  Adam Sandler
2      ./dataset/imgs/Adam Sandler/198.jpg  Adam Sandler
3      ./dataset/imgs/Adam Sandler/234.jpg  Adam Sandler
4      ./dataset/imgs/Adam Sandler/202.jpg  Adam Sandler
...                                    ...           ...
12173     ./dataset/imgs/Zac Efron/120.jpg     Zac Efron
12174     ./dataset/imgs/Zac Efron/476.jpg     Zac Efron
12175     ./dataset/imgs/Zac Efron/379.jpg     Zac Efron
12176     ./dataset/imgs/Zac Efron/323.jpg     Zac Efron
12177     ./dataset/imgs/Zac Efron/151.jpg     Zac Efron

[12178 rows x 2 columns]

In [11]:
imgs = []
classes = []
for i in dataset_df_test['image_pathname']:
    data = dataset_df.loc[dataset_df['image_pathname'] == './dataset/'+i]
    imgs.append(data.iat[0,0])
    classes.append(data.iat[0,1])
    
df_test = pd.DataFrame({
    'image_pathname': imgs,
    'class': classes
})

df_test

                           image_pathname         class
0      ./dataset/imgs/Adam Sandler/34.jpg  Adam Sandler
1     ./dataset/imgs/Adam Sandler/236.jpg  Adam Sandler
2     ./dataset/imgs/Adam Sandler/127.jpg  Adam Sandler
3     ./dataset/imgs/Adam Sandler/111.jpg  Adam Sandler
4     ./dataset/imgs/Adam Sandler/216.jpg  Adam Sandler
...                                   ...           ...
1655     ./dataset/imgs/Zac Efron/240.jpg     Zac Efron
1656      ./dataset/imgs/Zac Efron/68.jpg     Zac Efron
1657     ./dataset/imgs/Zac Efron/124.jpg     Zac Efron
1658     ./dataset/imgs/Zac Efron/283.jpg     Zac Efron
1659     ./dataset/imgs/Zac Efron/122.jpg     Zac Efron

[1660 rows x 2 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit(df_train['class'])

y_train = label_encoder.transform(df_train['class'])
y_test = label_encoder.transform(df_test['class'])

In [21]:
with tf.device('/CPU:0'):
    data_augmentation = tf.keras.Sequential([
         tf.keras.layers.experimental.preprocessing.RandomFlip("horizontal_and_vertical"),
         tf.keras.layers.experimental.preprocessing.RandomRotation(0.2),
         tf.keras.layers.experimental.preprocessing.RandomZoom(0.2)])

def augment(image, label):
  image = tf.cast(image, tf.float32)
  image = tf.image.resize(image, [IMG_SIZE, IMG_SIZE])
  image = (image / 255.0)
  image = tf.image.random_crop(image, size=[IMG_SIZE, IMG_SIZE, 3])
  image = tf.image.random_brightness(image, max_delta=0.5)
  return image, label

In [46]:
X_train =[]

for i in np.unique(df_train['class']):
    images = dataset_df.loc[dataset_df['class'] == i]['image_pathname']
    print(f'Loading images for class: {i}')
    X_class= []
    for img in images:
        image = cv2.imread(img)
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        X_class.append(image)
    imgs.append(images)
    print(f'Starting data augmentation...')
    while len(X_class)<n_samples:
        index = np.random.choice(images)
        image = cv2.imread(img)
        image = tf.expand_dims(image, 0)
        augmented_image = data_augmentation(image)
        X_class.append(augmented_image[0])
    print(f'Data augmentation finished\n\n')
    X_train.extend(X_class)

Loading images for class: Adam Sandler
Starting data augmentation...
Data augmentation finished


Loading images for class: Alec Baldwin
Starting data augmentation...
Data augmentation finished


Loading images for class: Angelina Jolie
Starting data augmentation...
Data augmentation finished


Loading images for class: Anna Kournikova
Starting data augmentation...
Data augmentation finished


Loading images for class: Ashton Kutcher
Starting data augmentation...
Data augmentation finished


Loading images for class: Avril Lavigne
Starting data augmentation...
Data augmentation finished


Loading images for class: Barack Obama
Starting data augmentation...
Data augmentation finished


Loading images for class: Ben Affleck
Starting data augmentation...
Data augmentation finished


Loading images for class: Beyonce Knowles
Starting data augmentation...
Data augmentation finished


Loading images for class: Brad Pitt
Starting data augmentation...
Data augmentation finished


Loading images for class: Cameron Diaz
Starting data augmentation...
Data augmentation finished


Loading images for class: Cate Blanchett
Starting data augmentation...
Data augmentation finished


Loading images for class: Charlize Theron
Starting data augmentation...
Data augmentation finished


Loading images for class: Christina Ricci
Starting data augmentation...
Data augmentation finished


Loading images for class: Claudia Schiffer
Starting data augmentation...
Data augmentation finished


Loading images for class: Clive Owen
Starting data augmentation...
Data augmentation finished


Loading images for class: Colin Farrell
Starting data augmentation...
Data augmentation finished


Loading images for class: Colin Powell
Starting data augmentation...
Data augmentation finished


Loading images for class: Cristiano Ronaldo
Starting data augmentation...
Data augmentation finished


Loading images for class: Daniel Craig
Starting data augmentation...
Data augmentation finished


Loading images for class: Daniel Radcliffe
Starting data augmentation...
Data augmentation finished


Loading images for class: David Beckham
Starting data augmentation...
Data augmentation finished


Loading images for class: David Duchovny
Starting data augmentation...
Data augmentation finished


Loading images for class: Denise Richards
Starting data augmentation...
Data augmentation finished


Loading images for class: Drew Barrymore
Starting data augmentation...
Data augmentation finished


Loading images for class: Dustin Hoffman
Starting data augmentation...
Data augmentation finished


Loading images for class: Ehud Olmert
Starting data augmentation...
Data augmentation finished


Loading images for class: Eva Mendes
Starting data augmentation...
Data augmentation finished


Loading images for class: Faith Hill
Starting data augmentation...
Data augmentation finished


Loading images for class: George Clooney
Starting data augmentation...
Data augmentation finished


Loading images for class: Gordon Brown
Starting data augmentation...
Data augmentation finished


Loading images for class: Gwyneth Paltrow
Starting data augmentation...
Data augmentation finished


Loading images for class: Halle Berry
Starting data augmentation...
Data augmentation finished


Loading images for class: Harrison Ford
Starting data augmentation...
Data augmentation finished


Loading images for class: Hugh Jackman
Starting data augmentation...
Data augmentation finished


Loading images for class: Hugh Laurie
Starting data augmentation...
Data augmentation finished


Loading images for class: Jack Nicholson
Starting data augmentation...
Data augmentation finished


Loading images for class: Jennifer Aniston
Starting data augmentation...
Data augmentation finished


Loading images for class: Jennifer Lopez
Starting data augmentation...
Data augmentation finished


Loading images for class: Jennifer Love Hewitt
Starting data augmentation...
Data augmentation finished


Loading images for class: Jessica Alba
Starting data augmentation...
Data augmentation finished


Loading images for class: Jessica Simpson
Starting data augmentation...
Data augmentation finished


Loading images for class: Joaquin Phoenix
Starting data augmentation...
Data augmentation finished


Loading images for class: John Travolta
Starting data augmentation...
Data augmentation finished


Loading images for class: Julia Roberts
Starting data augmentation...
Data augmentation finished


Loading images for class: Julia Stiles
Starting data augmentation...
Data augmentation finished


Loading images for class: Kate Moss
Starting data augmentation...
Data augmentation finished


Loading images for class: Kate Winslet
Starting data augmentation...
Data augmentation finished


Loading images for class: Katherine Heigl
Starting data augmentation...
Data augmentation finished


Loading images for class: Keira Knightley
Starting data augmentation...
Data augmentation finished


Loading images for class: Kiefer Sutherland
Starting data augmentation...
Data augmentation finished


Loading images for class: Leonardo DiCaprio
Starting data augmentation...
Data augmentation finished


Loading images for class: Lindsay Lohan
Starting data augmentation...
Data augmentation finished


Loading images for class: Mariah Carey
Starting data augmentation...
Data augmentation finished


Loading images for class: Martha Stewart
Starting data augmentation...
Data augmentation finished


Loading images for class: Matt Damon
Starting data augmentation...
Data augmentation finished


Loading images for class: Meg Ryan
Starting data augmentation...
Data augmentation finished


Loading images for class: Meryl Streep
Starting data augmentation...
Data augmentation finished


Loading images for class: Michael Bloomberg
Starting data augmentation...
Data augmentation finished


Loading images for class: Mickey Rourke
Starting data augmentation...
Data augmentation finished


Loading images for class: Miley Cyrus
Starting data augmentation...
Data augmentation finished


Loading images for class: Morgan Freeman
Starting data augmentation...
Data augmentation finished


Loading images for class: Nicole Kidman
Starting data augmentation...
Data augmentation finished


Loading images for class: Nicole Richie
Starting data augmentation...
Data augmentation finished


Loading images for class: Orlando Bloom
Starting data augmentation...
Data augmentation finished


Loading images for class: Reese Witherspoon
Starting data augmentation...
Data augmentation finished


Loading images for class: Renee Zellweger
Starting data augmentation...
Data augmentation finished


Loading images for class: Ricky Martin
Starting data augmentation...
Data augmentation finished


Loading images for class: Robert Gates
Starting data augmentation...
Data augmentation finished


Loading images for class: Sania Mirza
Starting data augmentation...
Data augmentation finished


Loading images for class: Scarlett Johansson
Starting data augmentation...
Data augmentation finished


Loading images for class: Shahrukh Khan
Starting data augmentation...
Data augmentation finished


Loading images for class: Shakira
Starting data augmentation...
Data augmentation finished


Loading images for class: Sharon Stone
Starting data augmentation...
Data augmentation finished


Loading images for class: Silvio Berlusconi
Starting data augmentation...
Data augmentation finished


Loading images for class: Stephen Colbert
Starting data augmentation...
Data augmentation finished


Loading images for class: Steve Carell
Starting data augmentation...
Data augmentation finished


Loading images for class: Tom Cruise
Starting data augmentation...
Data augmentation finished


Loading images for class: Uma Thurman
Starting data augmentation...
Data augmentation finished


Loading images for class: Victoria Beckham
Starting data augmentation...
Data augmentation finished


Loading images for class: Viggo Mortensen
Starting data augmentation...
Data augmentation finished


Loading images for class: Will Smith
Starting data augmentation...
Data augmentation finished


Loading images for class: Zac Efron
Starting data augmentation...

Data augmentation finished

In [49]:
len(X_train)

30461

In [50]:
X_test =[]

for i in df_test.image_pathname:
    image = cv2.imread(i)
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    X_test.append(image)

In [51]:
len(X_test)

1660

Concatenated list of Numbers :

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [42]:
dataset_df.loc[dataset_df['class'] == 'Adam Sandler']['image_pathname']

0      ./dataset/imgs/Adam Sandler/277.jpg
1      ./dataset/imgs/Adam Sandler/134.jpg
2      ./dataset/imgs/Adam Sandler/108.jpg
3        ./dataset/imgs/Adam Sandler/3.jpg
4       ./dataset/imgs/Adam Sandler/84.jpg
                      ...
103    ./dataset/imgs/Adam Sandler/208.jpg
104      ./dataset/imgs/Adam Sandler/7.jpg
105    ./dataset/imgs/Adam Sandler/111.jpg
106    ./dataset/imgs/Adam Sandler/152.jpg
107     ./dataset/imgs/Adam Sandler/46.jpg
Name: image_pathname, Length: 108, dtype: object

In [ ]:


class MyGenerator(Sequence):
    def __init__(self, image_pathnames, labels, batch_size, new_dims=(224, 224)):
        self.image_pathnames = image_pathnames
        self.labels = labels
        self.batch_size = batch_size
        self.new_dims = new_dims
    
    
    def __len__(self):        
        return math.ceil(len(self.image_pathnames) / float(self.batch_size))
    
    
    def __getitem__(self, idx):
        batch_begin = idx * self.batch_size
        batch_end = (idx + 1) * self.batch_size
        
        batch_image_pathnames = self.image_pathnames[batch_begin:batch_end]
        batch_labels = self.labels[batch_begin:batch_end]
        
        X_batch = self.__preprocess_batch(batch_image_pathnames)
        y_batch = np.array(batch_labels)
        
        return X_batch, y_batch
    
    
    def __preprocess_batch(self, batch_image_pathnames):
        # load the images as a feature matrix
        image_list = []  # list of numpy arrays
        
        for index, img_path in enumerate(batch_image_pathnames):
            img = cv2.imread(img_path)
            img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
            img = cv2.resize(img, self.new_dims, interpolation=cv2.INTER_LINEAR)
            image_list.append(img)
        
        X = np.array(image_list)
        
        # feature scaling
        X = X / 255.0
        
        return X

# 2. Modelos

## 2.1 Criação dos modelos

## 2.2 Fine tuning

# 3. Validação